
.navbar{
    background-color: #fff !important;
}

nav .container{
    padding: 0.8rem 0;;
}

.navbar .navbar-brand{
    font-size: 1.7rem;
    font-weight: bold;
    color: #165397;
}

.navbar .navbar-nav .nav-link{
    color: #165397;
    font-size: 1.05rem;
}

/* image */
#image
{
    position: absolute;
    top: calc(65% - 330px);
    right: 5%;
    z-index: 999;
}
#image img
{
    height: 30rem;
    filter: drop-shadow(-30px -30px 5px rgba(0,0,0,0.5));
    transition: 0.4s;
}
#image img:hover
{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));

}
/* content */
#content
{
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}
#content h2
{
    font-size: 12rem;
    color: #165397;
}
#content:hover h2
{
    color: #000;
    transition: 0.5s;
}

/* icons */
#icons
{
    height: 250px;
    width: 50px;
    position: absolute;
    left: 0;
    top: calc(70% - 250px);
    background: #1c5da4;
    border-radius: 0 40px 40px 0;
    z-index: 998;
}
#icons:hover
{
    background: #000;
}
#icons a
{
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: #e9e9eb;
    display: grid;
    place-items: center;
    margin: 8px 0
}
#icons a:hover
{
    color: #1b66bb;
}