$fk-m-brand : #716aca;
$fk-m-metal : #c4c5d6;
$fk-m-light : #ffffff;
$fk-m-accent : #00c5dc;
$fk-m-focus : #9816f4;
$fk-m-primary : #5867dd;
$fk-m-success : #34bfa3;
$fk-m-info : #36a3f7;
$fk-m-warning : #ffb822;
$fk-m-danger : #f4516c;

$fk-c-dark: #3f4047;
$fk-c-light: #f2f3f8;