
@import 'colors';

.navbar{

    background-color: #fff !important;

    .container{
        padding: 0.8rem 0;;
    }

    .navbar-brand{
        font-size: 1.7rem;
        font-weight: bold;
        color: #165397;
    }

    .navbar-nav .nav-link{
        color: #165397;
        font-size: 1.05rem;
    }
}